
<ion-content id="content" class="animated fadeIn fast" style="background-image: url('assets/images/login/login01.jpg'); color: #fff" padding>
    <div text-center style="position: relative" >
        <div text-center style="position: fixed; top: 0; width:93%; padding: 60px; text-align: center">
                <img src="assets/images/logoLetras.png">
        </div>
    </div>
    <ion-slides color="blanco" style="height: 85%" (ionSlideDidChange)="slideChanged()">
        <ion-slide>
            
            
            <div text-center style="position: relative" >
                <div style="position: fixed; bottom: 0; width:100%; text-align: center">
                    <h5>¿Te gusta salir de fiesta?</h5>
                    ¡Encuentra las mejores fiestas de españa!
                    <br><br>
                    
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div text-center style="position: relative" >
                <div style="position: fixed; bottom: 0; width:100%; text-align: center">
                    <h5>¿Te gustaria saber lo que te vas a encontrar?</h5>
                    Podrás ver los artistas de cada fiesta asi escuchar sus proyectos musicales
                    <br><br>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div text-center style="position: relative" >
                <div style="position: fixed; bottom: 0; width:100%; text-align: center">
                    <h5>¿Te gustaria saber lo que te vas a encontrar?</h5>
                    Podrás ver los artistas de cada fiesta asi escuchar sus proyectos musicales
                    <br><br>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
    <div text-center>
        <button ion-button color="facebook" (click)="loginFB()">Iniciar Sesion con Facebook</button>
        <br>
        <small (click)="noIniciarSesion()">No quiero iniciar sesion</small>
        <p text-center><small>*¡Prometemos que nunca publicaremos nada!</small></p>
    </div>
    <!-- <ion-slides pager>
        <ion-slide style="background-color: green">
        <h2>Slide 1</h2>
        </ion-slide>
    </ion-slides>
    <ion-slide style="background-color: blue">
            <h2>Slide 2</h2>
          </ion-slide> -->
                
    
    

</ion-content>