<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>XSFiestas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="container transparent-header" style="background-color: #fff">
    <div class="card-profile" (click)="abrirGaleria()">
        <div class="card-profile_visual">
            <img [src]="usuarioSrv.usuario.datos.foto" style="width: 100%">
        </div>
        <div class="card-profile_user-infos">
            <span class="infos_name">{{usuarioSrv.usuario.datos.nombre}}</span>
            <!-- <span class="infos_nick">@{{usuarioSrv.usuario.datos.nombre}}</span> -->
        </div>
        <div class="card-profile_user-stats">
            <div class="stats-holder">
                <div class="user-stats">
                    <strong>Favoritos</strong>
                    <span *ngIf="usuarioSrv.usuario.recetas">{{usuarioSrv.usuario?.recetas.favoritas.length}}</span>
                    <span *ngIf="!usuarioSrv.usuario.recetas">0</span>
                </div>
                <div class="user-stats">
                    <strong>Siguiendo</strong>
                    <span>0</span>
                </div>
                <div class="user-stats">
                    <strong>Seguidores</strong>
                    <span>0</span>
                </div>
            </div>
        </div>
    </div>
    <!-- <img src="{{usuarioSrv.usuario.datos.foto}}">
    <br>
    {{usuarioSrv.usuario.datos.nombre}} - {{usuarioSrv.usuario.datos.sexo}}
    <br>
    <button ion-button block (click)="logout()">Cerrar Sesion</button> -->
</ion-content>