<ion-header>
  <ion-navbar color="negro" hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="backButton()">
      <ion-icon class="customIcon" name="arrow-back"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>{{firebaseSrv.fiesta.datos?.nombre}} @ {{firebaseSrv.fiesta.club?.datos.nombre}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" class="animated fadeIn fast" style="background-color: #000">

  <div [ngSwitch]="segmentos">
    <div *ngSwitchCase="'fiesta'" class="animated fadeIn fast">
      <ion-card text-center>
        <div class="hora">
          <strong *ngIf="firebaseSrv.fiesta.datos?.fechaMiliSegundos > now" class="hora-dia" id="date">{{firebaseSrv.fiesta.datos?.fechaMiliSegundos |timeAgo2}}</strong>
          <strong *ngIf="firebaseSrv.fiesta.datos?.fechaMiliSegundos < now" class="hora-dia" id="date">Ahora</strong>
        </div>
        <img (click)="abrirFoto(firebaseSrv.fiesta.datos.flyer)" src="{{firebaseSrv.fiesta?.datos.flyer}}">
        <br>
        <h2>{{diaSemana}} {{fecha[0]}} de {{diaMes}} a las {{firebaseSrv.fiesta.datos?.hora}}</h2>
        <h1>{{firebaseSrv.fiesta.datos?.nombre}}</h1>
        <h6 style="padding-bottom: 3px">en</h6>
        <h1>{{firebaseSrv.fiesta.datos?.club}}</h1>
        <h2 style="margin-bottom: 10px">{{firebaseSrv.fiesta.club?.ubicacion.ciudad}}</h2>

        <div *ngIf="firebaseSrv.fiesta.datos.estilos !== ''">
          <ion-badge color="rojo" style="padding: 5px; margin-top: 10px; margin-left: 5px; font-size: 14px" *ngFor="let i of firebaseSrv.fiesta.datos?.estilos">{{i}}</ion-badge>
        </div>
        <p padding>{{firebaseSrv.fiesta.datos?.info}}</p>

      </ion-card>
      <ion-card padding *ngIf="tracks.length > 0">
        <h1>Musica de los Artistas</h1>
        <button ion-item *ngFor="let i of tracks" (click)="reproducirTema(i)">
          <ion-avatar item-left>
            <img [src]="i.artwork_url">
          </ion-avatar>
          <p>{{i.title | primeraMayuscula}}<br>
          <b>{{i.user.username | primeraMayuscula}}</b></p>
          <p item-right>
            <ion-icon *ngIf="i.reproduciendo == false || !i.reproduciendo" name="md-play"></ion-icon>
            <ion-icon *ngIf="i.reproduciendo == true" name="md-pause"></ion-icon>
          </p>
        </button>
      </ion-card>
      <!-- <button ion-button block color="rojo">Favorito</button> -->
      <!-- <button ion-button block color="rojo">Calendario</button> -->
    </div>
    <div *ngSwitchCase="'ubicacion'" class="animated fadeIn fast">
      <ion-card>
        <img (click)="abrirFoto(firebaseSrv.fiesta.club.datos.foto)" style="width:100%" text-center src="{{firebaseSrv.fiesta.club.datos.foto}}">
        <h1 text-center padding>{{firebaseSrv.fiesta.club.datos.nombre}}</h1>
        <p text-center>
          <b>{{firebaseSrv.fiesta.club.datos.nombre}}</b> se encuentra en <b>{{firebaseSrv.fiesta.club.ubicacion.ciudad}}</b>,
          a <b>{{usuarioSrv.kmFiesta.kmAprox}} kilometros</b> de donde te encuentras actualmente.
        </p>
        <span padding>
          <p text-center padding>
            Los asistentes de <b>{{firebaseSrv.fiesta.club.datos.nombre}}</b>, suelen escuchar <b>{{estilosClub}}</b><span *ngIf="firebaseSrv.fiesta.datos.estilos !== ''">, aunque en la fiesta <b>{{firebaseSrv.fiesta.datos.nombre}}</b> se escuchará exclusivamente <b>{{estilosFiesta}}</b></span>
        </p>
        <p padding text-center *ngIf="firebaseSrv.fiesta.club.datos.aforo !== ''">
          Tiene un aforo de <b>{{firebaseSrv.fiesta.club.datos.aforo}}</b> para deleitar a sus clubbers.
        </p>
        <p>&nbsp;</p>
        </span>
        <agm-map [zoom]="17" [latitude]="firebaseSrv.fiesta.club.ubicacion.lat" [longitude]="firebaseSrv.fiesta.club.ubicacion.lng">
          <agm-marker [latitude]="firebaseSrv.fiesta.club.ubicacion.lat" [longitude]="firebaseSrv.fiesta.club.ubicacion.lng" [iconUrl]="iconoMapa">
            <agm-snazzy-info-window [maxWidth]="300" [maxHeight]="600" [closeWhenOthersOpen]="true">
              <ng-template>
                <img src="{{firebaseSrv.fiesta.datos.flyer}} ">
                <div padding text-center>
                  {{firebaseSrv.fiesta.datos.nombre}}
                  <br> {{firebaseSrv.fiesta.club.datos.nombre}}
                  <br>
                  <small>{{firebaseSrv.fiesta.datos.fecha}} </small>
                </div>
              </ng-template>
            </agm-snazzy-info-window>
          </agm-marker>
          <agm-marker [latitude]="usuarioSrv.usuario.ubicacion.lat" [longitude]="usuarioSrv.usuario.ubicacion.lng"
            [iconUrl]="iconoMapaYo">
          </agm-marker>
        </agm-map>
      </ion-card>
    </div>
    <div *ngSwitchCase="'artistas'" class="animated fadeIn fast">
      <div *ngIf="artistasFiestas.length > 0" class="card-background-page">
        <ion-card (click)="abrirArtista(artista)" *ngFor="let artista of artistasFiestas">
          <img [src]="artista.datos.foto">
          <div class="card-title">{{artista.datos.nombre}}</div>
          <div class="card-subtitle">{{artista.datos.pais}}</div>
        </ion-card>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-segment color="rojo" [(ngModel)]="segmentos" style="height: 55px">
    <ion-segment-button value="fiesta" style="font-size: 12px; color: #fff">
      <i class="fa fa-glass"></i>&nbsp;&nbsp; Fiesta
    </ion-segment-button>
    <ion-segment-button value="artistas" style="font-size: 12px; color: #fff">
      <i class="fa fa-glass"></i>&nbsp;&nbsp; Artistas ({{firebaseSrv.fiesta.artistas?.length}})
    </ion-segment-button>
    <ion-segment-button value="ubicacion" style="font-size: 12px; color: #fff">
      <i class="fa fa-building"></i>&nbsp;&nbsp; Ubicacion
    </ion-segment-button>
  </ion-segment>
</ion-footer>