<ion-header id="header">
  <ion-navbar color="negro">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only
              (click)="buscador(!buscadorEstado)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title >Fiestas <small>{{firebaseSrv.fiestas?.length}}</small></ion-title>
    
  </ion-navbar>
  <ion-searchbar style="background-color: #000" *ngIf="buscadorEstado == true" style="top: 0px"
    (ionInput)="busqueda($event)"
    animated="true"
    (autocomplete)="on"
    placeholder="¿Que buscas?">
  </ion-searchbar>
</ion-header>
  
  
  <ion-content class="card-background-page" style="background-color: #000">
    <div [ngSwitch]="segmentos">
      <div *ngSwitchCase="'fiestas'">
        <ion-card (click)="abrirFiesta(fiesta)" *ngFor="let fiesta of firebaseSrv.fiestas" >
          <div class="hora">
            <strong class="hora-faltan" id="date">Faltan</strong><br>
            <strong class="hora-dia" id="date">{{fiesta.datos?.fechaMiliSegundos |timeAgo2}}</strong><br>
          </div>
          <img [src]="fiesta.datos.flyer">
          <div class="card-title">{{fiesta.datos.nombre}}</div>
          <div class="card-subtitle">{{fiesta.datos.club}}, {{fiesta.club?.ubicacion.ciudad}}</div>
        </ion-card>
      </div>
      <div *ngSwitchCase="'mapa'">
        <!-- <ion-card id="cardMapa"> -->
          <!-- <agm-map id="mapa" [zoom]="5" [latitude]="mapaLat" [longitude]="mapaLng">
            <agm-marker *ngFor="let fiesta of firebaseSrv.fiestas" [latitude]="fiesta.club.ubicacion.lat" [longitude]="fiesta.club.ubicacion.lng"></agm-marker>
          </agm-map> -->
          <div id="map"></div>
        <!-- </ion-card> -->
      </div>
    </div>
  </ion-content>
  <ion-footer>
    <ion-segment color="rojo" [(ngModel)]="segmentos" style="height: 55px">
      <ion-segment-button value="fiestas" style="font-size: 14px; color: #fff">
        <i class="fa fa-glass"></i>&nbsp;&nbsp;
        Fiestas
      </ion-segment-button>
      <ion-segment-button value="mapa" style="font-size: 14px; color: #fff">
        <i class="fa fa-building"></i>&nbsp;&nbsp;
        Mapa
      </ion-segment-button>
    </ion-segment>
  </ion-footer>
  