page-fiesta {
    .card-background-page {
        ion-card {
        position: relative;
        text-align: center;
        }
    
        .card-title {
        position: relative;
        bottom: 0px;
        padding: 10px;
        padding-bottom: 40px;
        font-size: 20px;
        width: 100%;
        font-weight: bold;
        background-color: #CC0000;
        color: #fff;
        }
    
        .card-subtitle {
        font-size: 15px;
        padding-top: 8px;
        padding-bottom: 10px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        font-weight: bold;
        opacity: 0.9;
        color: #fff;
        }
        .card-items {
        background-color: #000;
        color: #FFF;
        padding: 10px;
        bottom: 15px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 15px 15px 15px 15px;
        -moz-border-radius: 15px 15px 15px 15px;
        -webkit-border-radius: 15px 15px 15px 15px;
        border: 0px solid #000000;
        }
    
    }
}