<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>XSFiestas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content color="dark">
  <h1>HOME</h1>
</ion-content>
