<ion-header>
  <ion-navbar color="negro">
    <ion-title>{{firebaseSrv.artista.datos?.nombre}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" class="animated fadeIn fast" style="background-color: #000">
  <ion-card>
    <img src="{{firebaseSrv.artista.datos.foto}}">
    <ion-item>
      Nombre
      <span item-right>{{firebaseSrv.artista.datos.nombre}}</span>
    </ion-item>
    <ion-item>
      Pais
      <span item-right>{{firebaseSrv.artista.datos.pais}}</span>
    </ion-item>
    <ion-item>
      Estilos
      <ion-badge item-right color="rojo" *ngFor="let i of firebaseSrv.artista.datos.estilos">{{i}}</ion-badge>
    </ion-item>
    <span *ngIf='firebaseSrv.artista.datos.bio.length > 0' text-center padding>
      <p padding *ngFor="let linea of bio">{{linea}}</p>
    </span>

  </ion-card>

  <ion-card>
    <ion-item (click)="abrirRedSocial('Facebook')">
      <i class="fa fa-facebook"></i> &nbsp;&nbsp; Facebook
      <span item-right>{{firebaseSrv.artista.redesSociales.facebook.seguidores | miles}} Seguidores</span>
    </ion-item>

    <ion-item *ngIf="firebaseSrv.artista.redesSociales.twitter.perfil !== ''" (click)="abrirRedSocial('Twitter')">
      <i class="fa fa-twitter"></i> &nbsp;&nbsp; Twitter
      <span item-right *ngIf="firebaseSrv.artista.redesSociales.twitter.seguidores !== ''">{{firebaseSrv.artista.redesSociales.twitter.seguidores | miles}} Seguidores</span>
    </ion-item>

    <ion-item *ngIf="firebaseSrv.artista.redesSociales.soundcloud.perfil !== ''" (click)="abrirRedSocial('Soundcloud')">
      <i class="fa fa-soundcloud"></i> &nbsp;&nbsp; Soundcloud
      <span item-right *ngIf="firebaseSrv.artista.redesSociales.soundcloud.seguidores !== ''">{{firebaseSrv.artista.redesSociales.soundcloud.seguidores | miles}} Seguidores</span>
    </ion-item>

    <ion-item *ngIf="firebaseSrv.artista.redesSociales.instagram.perfil !== ''" (click)="abrirRedSocial('Instagram')">
      <i class="fa fa-instagram"></i> &nbsp;&nbsp; Instagram
      <span item-right *ngIf="firebaseSrv.artista.redesSociales.instagram.seguidores !== ''">{{firebaseSrv.artista.redesSociales.instagram.seguidores | miles}} Seguidores</span>
    </ion-item>

    <ion-item *ngIf="firebaseSrv.artista.redesSociales.youtube.perfil !== ''" (click)="abrirRedSocial('Youtube')">
      <i class="fa fa-youtube"></i> &nbsp;&nbsp; Youtube
      <span item-right *ngIf="firebaseSrv.artista.redesSociales.youtube.seguidores !== ''">{{firebaseSrv.artista.redesSociales.youtube.seguidores | miles}} Seguidores</span>
    </ion-item>

    <ion-item *ngIf="firebaseSrv.artista.redesSociales.web !== ''" (click)="abrirRedSocial('Web')">
        <i class="fa fa-globe"></i> &nbsp;&nbsp; Web
        <span item-right>{{firebaseSrv.artista.redesSociales.web}}</span>
      </ion-item>
  </ion-card>
</ion-content>