<ion-menu [content]="content" id="menu-material">
  <ion-content style="background-color: #000">
    
    <div *ngIf="usuarioSrv.usuario.datos.logado == false" >
      <button ion-item style="background-color:#CC1000" (click)="iniciarSesion()" color="primary">
        <i style="font-size: 20px" item-left class="fa fa-user"></i>
        <h2>Inicia Sesion</h2>
      </button>
    </div>

    <div class="menu-header" *ngIf="usuarioSrv.usuario.datos.logado == true">
      <img *ngIf="usuarioSrv.usuario.datos.foto == ''" class="user-avatar round" src="assets/images/logo.png">
      <img *ngIf="usuarioSrv.usuario.datos.foto !== ''" class="user-avatar round" [src]="usuarioSrv.usuario.datos.foto">
      <!-- <p class="name">{{usuarioSrv.usuario.datos.nombre}}</p> -->
      <p item-left class="name" *ngIf="usuarioSrv.usuario.datos.nombre !== ''">{{usuarioSrv.usuario.datos.nombre}}
        <span style="float:right; font-size: 15px" item-right (click)="cerrarSesion()">
          <ion-icon name="md-exit"></ion-icon>
        </span>
      </p>
    </div> 


    <ion-list no-lines>
      <button color="primary" menuClose="left" ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
        <i style="font-size: 20px" [class]="p.icon" item-left></i>
        <h2>{{p.title}}</h2>
      </button>
      <!-- <button color="primary" menuClose="left" ion-item detail-none *ngIf="usuarioSrv.usuario.datos.logado == true" (click)="abrirUsuarios()">
          <ion-icon name="md-people" item-left></ion-icon>
        Usuarios
      </button> -->
      <button color="primary" menuClose="left" ion-item detail-none *ngIf="usuarioSrv.usuario.datos.logado == true" (click)="abrirPagina('usuario')">
        <i style="font-size: 20px" class="fa fa-user" item-left></i>
        <h2>Tu Cuenta</h2>
      </button>
    </ion-list>
    
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
