page-estilos {
    .etiqueta {
      height: 120px;
      // max-width: 1000px;
      padding-top: 48px;
    }
    .etiquetaText {
      font-size: 22px;
      font-weight: 900;
      color: #fff;
      background-color: #000;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 18px;
      padding-right: 18px;
      opacity: 0.8;
      text-align: center;
      border-radius: 5px;
    }
    .scroll {
      height: 100%
    }
  
    #map {
      width: 100%;
      height: 100%;
    }

    .buscador {
      height: 100%;
      display: block;
    }
    .searchbar-md {
      background-color: #000;
      
    }
    // .searchbar-active {
    // }
    // .searchbar {
    // }
    $searchbar-ios-background-color: rgba(0, 0, 0, .2);

    .searchbar-input-container {
      position: relative;
      height: 100%;
      display: block;
      background-color: #000;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      width: 100%;
      
    }
    
    
  }