<ion-header>
  <ion-navbar color="negro">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button *ngIf="listado == true" ion-button icon-only (click)="buscador(!buscadorEstado)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="listado == false">¿Cual es tu estilo?</ion-title>
    <span *ngIf="palabraFiltro !== ''">
      <ion-title *ngIf="listado == true">Fiestas {{palabraFiltro}} </ion-title>
    </span>
    <span *ngIf="palabraFiltro == ''">
      <ion-title *ngIf="listado == true">Todas las Fiestas </ion-title>
    </span>
  </ion-navbar>
  <div *ngIf="listado == true" class="buscador">
    <ion-searchbar style="background-color: #000" *ngIf="buscadorEstado == true" [(ngModel)]="textoBusqueda" style="top: 0px"
      (ionInput)="busqueda($event)" placeholder="¿Que buscas?">
    </ion-searchbar>
  </div>
</ion-header>

<ion-content text-center style="background-color: #000">

  <div *ngIf="filtro == true" class="animated fadeIn fast">
    <ion-card item-center text-center class="etiqueta" (click)="todas()" style="background-image: url('assets/images/estilos/00.jpg');">
      <span class="etiquetaText">Todas las Fiestas</span>
    </ion-card>
    <span *ngFor="let estilo of firebaseSrv.estilos">
    <ion-card *ngIf="estilo.estado == 1" (click)="filtrar(estilo.nombre)" class="etiqueta" [ngStyle]="{'background-image': 'url(' + estilo.img + ')'}">
      <span class="etiquetaText">{{estilo.nombre}}</span>
    </ion-card>
    </span>
  </div>
  <div *ngIf="listado == true" class="card-background-page" style="background-color: #000">
    <div *ngIf="fiestas.length > 0">
      <div [ngSwitch]="segmentos">
        <div *ngSwitchCase="'fiestas'" class="animated fadeIn fast">
          <ion-card (click)="abrirFiesta(fiesta)" *ngFor="let fiesta of fiestas">
            <div class="hora">
              <!-- <strong class="hora-faltan" id="date">Faltan</strong><br> -->
              <!-- <strong class="hora-dia" id="date">{{fiesta.datos?.fechaMiliSegundos |timeAgo2}}</strong><br> -->
              <strong *ngIf="fiesta.datos?.fechaMiliSegundos > now" class="hora-dia" id="date">{{fiesta.datos?.fechaMiliSegundos |timeAgo2}}</strong>
              <strong *ngIf="fiesta.datos?.fechaMiliSegundos < now" class="hora-dia" id="date">Ahora</strong>
            </div>
            <img [src]="fiesta.datos.flyer">
            <div class="card-title">{{fiesta.datos.nombre}}</div>
            <div class="card-subtitle">{{fiesta.datos.club}}, {{fiesta.club?.ubicacion.ciudad}}</div>
          </ion-card>

          <ion-infinite-scroll (ionInfinite)="iScroll($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>
        <div *ngSwitchCase="'mapa'">
          <ion-card id="cardMapa" class="animated fadeIn fast">
            <agm-map id="mapa" [style.height.px]="mapaHeight" [zoom]="5" [latitude]="mapaLat" [longitude]="mapaLng">
              <agm-marker *ngFor="let fiesta of firebaseSrv.fiestas" [latitude]="fiesta.club.ubicacion.lat" [longitude]="fiesta.club.ubicacion.lng"
                [iconUrl]="iconoMapa">
                <agm-snazzy-info-window [maxWidth]="300" [maxHeight]="600" [closeWhenOthersOpen]="true">
                  <ng-template>
                    <img src="{{fiesta.datos.flyer}} ">
                    <div padding>
                      {{fiesta.datos.nombre}}
                      <br> {{fiesta.club.datos.nombre}}
                      <br>
                      <small>{{fiesta.datos.fecha}} </small>
                      <br>
                      <button ion-button color="rojo" (click)="abrirFiesta(fiesta)">Mas Info</button>
                    </div>
                  </ng-template>
                </agm-snazzy-info-window>
              </agm-marker>
              <agm-marker [latitude]="usuarioSrv.usuario.ubicacion.lat" [longitude]="usuarioSrv.usuario.ubicacion.lng"
                [iconUrl]="iconoMapaYo">
              </agm-marker>
            </agm-map>

          </ion-card>
        </div>
      </div>

    </div>
    <div *ngIf="fiestas.length == 0">
      <ion-card style="padding-top: 15px; padding-bottom: 15px" padding-top>
        <h2 *ngIf="palabraFiltro.length > 0">¡Oh vaya! <br><br>Parece que no tenemos fiestas de {{palabraFiltro}}</h2>
        <h2 *ngIf="palabraFiltro.length == 0">¡Oh vaya! <br><br>Parece que no tenemos fiestas</h2>
      </ion-card>
    </div>
  </div>
  <ion-fab *ngIf="listado == true" bottom right style="margin-bottom: 50px">
    <button ion-fab color="amarillo" (click)="volverFiltro()">
    <ion-icon name="ios-undo"></ion-icon>
  </button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="listado == true">
  <ion-segment color="rojo" [(ngModel)]="segmentos" style="height: 55px; background-color: #000">
    <ion-segment-button value="fiestas" style="font-size: 12px; color: #fff">
      <i class="fa fa-glass"></i>&nbsp;&nbsp; Fiestas
    </ion-segment-button>
    <ion-segment-button value="mapa" style="font-size: 12px; color: #fff">
      <i class="fa fa-building"></i>&nbsp;&nbsp; Mapa
    </ion-segment-button>
  </ion-segment>
</ion-footer>