ion-modal.reproductor {
    @media (min-width: 300px) and (min-height: 400px) {
      ion-backdrop {
        visibility: visible;
        background-color: #111;
      }
    }
    .modal-wrapper {
      background-color: #000000;
      color: #fff; 
      position: absolute;
      overflow: hidden;
      border-radius: 2px;
      width: 90%;
      height: 270px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 0;
      box-shadow: 0 16px 20px rgba(0,0,0,.4);
    }
  }
